<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  {% block styles %}
  <style>
  </style>
  {% endblock %}
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="color: red">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/shows">Magos</a></li>
        <li><a href="/shows/create">Nuevo Mago</a></li>
        <li><a href="collapsible.html">Magodito</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
          {% block content %}
          <p>Este es el template BASE</p>
          {% endblock %}
      </div>
    </div>
  </div>
  <script>
    // acá se inician los Select's
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, {});
      $('.modal').modal();
    });

    // Acá se muestran los Toastr's
    {% if messages %}
      {% for message in messages %}
        toastr.{{message.tags }}("{{ message }}")
      {% endfor %}
    {% endif %}  
  </script>
</body>
</html>